*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  width: 1300px;
  background-color: #111324;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  color: #fff; }

.navigation {
  font-size: 1.5rem; }

.btn--outline {
  height: 5rem;
  width: 20rem;
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  font-size: 3rem;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: 5rem;
  transition: all 0.3s;
  z-index: 10; }

.btn--outline:hover {
  border: 3px solid #AED137;
  color: #000;
  background-color: #AED137;
  box-shadow: 8px 8px 25px 1px #000; }

.btn--outline:active {
  transform: translate(-50%, 7px); }

.loading-bar {
  color: #AED137; }

.darkening {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: brightness(80%) blur(20px);
  opacity: 0.5;
  z-index: 1;
  background-color: #000; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #090a14;
  height: 7rem; }
  .navigation .logo-block {
    display: flex;
    align-items: center;
    font-weight: 700; }
    .navigation .logo-block .logo {
      width: 30%; }
    .navigation .logo-block-text {
      text-align: center;
      display: block; }
    .navigation .logo-block .logo-text--green {
      color: #AED137; }
  .navigation nav ul {
    display: flex; }
    .navigation nav ul li {
      list-style: none;
      margin-left: 2rem;
      font-weight: 700; }
      .navigation nav ul li:hover {
        cursor: pointer;
        color: #AED137; }
    .navigation nav ul li:last-child {
      margin-right: 2rem;
      color: #AED137; }

.header {
  position: relative; }
  .header__logo-box .sentence {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; }
  .header__logo-box .banner {
    position: relative;
    width: 100%;
    position: relative; }

.sponsors {
  height: 17rem;
  background-color: #202338;
  width: 100%;
  margin-top: -1rem;
  overflow: hidden;
  z-index: 2; }
  .sponsors h3 {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 2rem 0; }
  .sponsors--slider {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .sponsors--slider img {
      height: 7rem; }

.meal-planner {
  display: flex;
  background-color: #202338;
  flex-direction: column; }
  .meal-planner h3 {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 2rem 0; }
  .meal-planner h4 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem; }
  .meal-planner .meal-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5rem 0;
    flex-wrap: wrap; }
  .meal-planner .step-3,
  .meal-planner .step-4 {
    margin-top: 5rem; }
  .meal-planner .step-container {
    width: 45rem;
    position: relative; }
  .meal-planner .darkenin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    border-radius: 3rem;
    z-index: 5;
    transition: all 0.3s; }
  .meal-planner .darkenin:hover ~ img {
    transform: scale(1.05);
    box-shadow: 3px 6px 15px -3px #000; }
  .meal-planner .darkenin:hover {
    opacity: 0.7;
    transform: scale(1.05); }
  .meal-planner .action {
    position: absolute;
    bottom: 50%;
    z-index: 3;
    width: 100%;
    text-align: center;
    transform: translateY(-50%); }
    .meal-planner .action span {
      font-size: 1.5rem; }
  .meal-planner img {
    width: 100%;
    border-radius: 3rem;
    border: 3px solid black;
    transition: all 0.3s;
    box-shadow: 8px 8px 25px 1px #000;
    transition: all 0.3s; }

.about-us {
  background-color: #090a14; }
  .about-us .about-container {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0; }
  .about-us h3 {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 2rem 0; }
  .about-us .about-panel {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .about-us .about-panel .amount {
      color: #AED137; }
    .about-us .about-panel img {
      align-self: center;
      width: 10rem;
      -webkit-filter: invert(1);
      filter: invert(1);
      margin-top: 3rem; }
    .about-us .about-panel span {
      font-size: 1.4rem;
      margin-top: 5px; }
