// Background colors
$color-background:#090a14;
$color-background-light:#202338;
$color-background-lighter:#111324;

//Primary colors
$color-primary:#AED137;


$color-black: #000;
$color-white: #fff;

//Shadow
$shadow-dark:8px 8px 25px 1px $color-black;
$shadow-dark-medium:3px 6px 15px -3px $color-black;