// Background colors
$color-background:#f6dbae;

//Primary colors
$color-primary:#AED137;
$color-secondary:#954b2a;
$color-tertiary:#5a7f39;
$color-quaternary:#3d5627;

//Black-White and Shades 
$color-black: #000;
$color-white: #fff;
$color-gray-light: #f2f2f2;
$color-gray: #c8c8c8;


//Shadow
$shadow-dark:8px 8px 25px 1px $color-black;
$shadow-dark-medium:3px 6px 15px -3px $color-black;

//Border radius 
$border-radius-standard: 5rem;
$border-radius-medium: 3rem;
$border-radius-small: 1rem;


//Animations time
$standard-animations-time: all 0.3s;
$short-animation-time: all 0.2s;

//Flexbox