.header {
    position: relative;
    height: 90vh;
    overflow: hidden;

    &__logo-box {

        .sentence {
            width: 80%;
            @include absolute-positioning(40%, 50%, -50%);
            text-align: center;
            z-index: 2;
        }

        .banner {
            position: relative;
            width: 100%;
        }
    }

    .btn--outline:hover {
        mix-blend-mode: lighten;
    }
}