.meal-planner {
    display: flex;
    background-color: $color-gray-light;
    flex-direction: column;
    margin-bottom: 4rem;
    width: 100%;

    h2 {
        color: $color-secondary
    }


    .step-number {
        text-align: center;
        margin: 2rem 0;
        font-size: 2rem;
        color: $color-secondary
    }

    &--container {
        display: flex;
        justify-content: space-around;
    }

    .step-card {
        position: relative;
        display: flex;
        justify-content: center;

        .darkenin {
            overflow: hidden;
            position: absolute;
            width: 90%;
            height: 100%;
            background-color: $color-black;
            opacity: 0;
            border-radius: 3rem;
            z-index: 5;
            transition: all 0.3s;

            .action {
                position: absolute;
                bottom: 0;
                z-index: 3;
                width: 100%;
                text-align: center;
                height: 20%;
                background-color: $color-tertiary;
                padding-top: 2rem;
                border-radius: 0 0 3rem 3rem;
                font-size: 1.3rem;
                z-index: 6;
            }
        }


        span {
            position: absolute;
            opacity: 0;
            font-weight: 800;
            letter-spacing: .2rem;
            @include absolute-positioning (80%, 50%, -50%, 0);
            z-index: 10;
            transition: all 0.3s;
            width: 100%;
            text-align: center;
            font-size: 1.8rem;
            width: 90%;

            // ---------tego mi brakuje i nie działa-------------------
            &:hover~.darkening {
                opacity: 0.9;
                transform: scale(1.05);
            }

            // ------------------------------------------------------------
        }
    }



    .darkenin:hover~img {
        transform: scale(1.05);
    }

    .darkenin:hover {
        opacity: 0.9;
        transform: scale(1.05);
    }

    span:hover {
        opacity: 1;
        @include absolute-positioning (85%, 50%, -50%, 0);
    }

    span:hover~img {
        transform: scale(1.05);
    }

    .darkenin:hover+span {
        opacity: 1;
        @include absolute-positioning (85%, 50%, -50%, 0);
    }
}