.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    height: 10vh;

    .logo-block {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 700;

        .logo {
            width: 50%;

            &-text {
                @include centering-vertically;
                transform: translate(8.7rem, -50%);
                color: $color-secondary;
                font-size: 2.3rem;

                &--green {
                    color: $color-primary;
                }
            }
        }
    }

    nav {
        .navigation-list {
            display: flex;
            align-items:center;

            li {
                list-style: none;
                margin-left: 2rem;
                font-weight: 700;
                color: $color-secondary;
                transition: $short-animation-time;
                cursor: pointer;
                font-size: 1.6rem;

                &:hover:not(:last-child) {
                    color: $color-primary;
                    transform: translateY(-2px);
                }

                &:active:not(:last-child) {
                    transform: translateY(0);
                }
            }

            li:last-child {
                margin-right: 2rem;
                color: $color-primary;
            }
        }
    }
}