.sponsors {
    height: 20rem;
    background-color: $color-gray-light;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 2;
    position: relative;

    h2 {
        color: $color-secondary;
    }

    &--slider {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        -webkit-animation: linear infinite;
        -webkit-animation-name: run;
        -webkit-animation-duration: 30s;


        img {
            height: 7rem;
            margin-right: 20rem;
        }


        @-webkit-keyframes run {
            0% {
                left: -120%;
            }

            100% {
                left: 100%;
            }
        }
    }
}