*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    width: 100%;
    background-color: $color-gray-light;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    color: $color-white;

}

main {
    width: 80%;
    margin: 0 auto;
}